<div style="background-color: #D7CEC7; margin: 0px; padding: 80px 260px">
<center><h1><strong>6,700 college students, all in a one-mile radius, all heading to the airport in a 48-hour period?</strong></h1>
<h2>FairSplit is the logical option.</h2><center><br><br>
	<p><font style="font-size: 17px">You've all seen it in your college Facebook group: "Anyone want to split a ride to the airport at 8am tomorrow?"... and then suddenly the comment section fills up with others looking for travel buddies.<p>
  <p>Maybe yours has even gotten to the point of creating a Google Doc for people to write down their travel times and names (true story).</font><p><br>
  <h2>Avoid the confusion with FairSplit.</h2>
</div>

<div style="background-color: #76323F; color: #D7CEC7">
<div style="margin: 0px; padding: 80px 150px 40px">
<center>
<div class="container-fluid">
<h2>What is FairSplit?</h2>
  <div class="row" style="padding: 30px 100px 20px">
  		<div class="col-md-6">FairSplit is simple: you log in, add your departure time to the calendar, and see if anyone else is heading to the airport at the same time as you. If they are, great! Message them and arrange the details. If not, check back in a day or two and see if anyone has added a similar departure time.</div>
      	<div class="col-md-6">Even though UberPool has revolutionized the world of ride sharing, it's still expensive (or maybe we college students are just  cheap). Instead of lugging your luggage through public transportation to try to save money, a FairSplit ride can be almost just as cheap.</div>
      	</div>
  </center>
  </div>

<div class="container-fluid">
<center>
  <div class="row" style="padding: 0px 100px 100px">
      	<div class="col-md-3"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<h1>$30-$35</h1><h3>Taxi</h3></div>
  		<div class="col-md-3"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span><h1>$22-$28</h1><h3>Uber</h3></div>
  		<div class="col-md-3"><span class="glyphicon glyphicon-road" aria-hidden="true"></span><h1>$18-$24</h1><h3>UberPool</h3></div>
  		<div class="col-md-3" style="margin: 0px 0px 40px"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><h1>$5-$12</h1><h3>FairSplit</h3></div>
  		  <p>* Approximate costs of a ride from Harvard to Logan Airport. *</p>
  </div>
  </center>
</div>


<div style="background-color: #565656; margin: 0px; padding: 80px 100px 40px; color: #D7CEC7">
<center><h2>Who uses FairSplit, and why?</h2><br>
<center>
  <div class="row" style="padding: 30px 100px 0px">
  		<div class="col-md-4">FairSplit is for college students. Think about it: there are 6,700 students on campus in a one-mile radius. Right before long breaks, everyone is heading to the airport within a 48-hour period. Right now, FairSplit is configured for only Harvard's college campus. In the future, there is the possibility of expanding to other campuses.</div>
      	<div class="col-md-4">FairSplit is unique because there is literally a hoard of people all bunched together on a college campus making their way to the airport at the same time. Sure, you could use another ride sharing app to cut down costs of an Uber or UberPool, but whoever you find will probably live at least five minutes away and is a complete stranger -- so the costs outweight the benefits, and it's frankly too much work.</div>
      	<div class="col-md-4">Not only is FairSplit environmentally friendly and logical to reduce the Ubers taken from Harvard's campus to airports when they can be consolidated, it'll also save you money. And it's super easy to use, so you don't have to stress out about it during finals. Let it be your five-minute study break you deserve; your wallet will thank you.</div>
  </div>
  </center>

<img src="/images/Graphic.png" width="80%" style="padding: 30px"></center>

</div>
