<div style="padding: 50px">
<h1><font color="#D7CEC7">Schedule a Time</font></h1>
<a href="/addevent" class="btn btn-success" style="padding:10px 30pxpx; margin: 0px 0px 10px">Add Departure</a>
<a href="/message" class="btn btn-success" style="padding:10px 30pxpx; margin: 0px 0px 10px">View Messages</a>
<div id="calendar" style="background-color: #D7CEC7; padding: 30px"></div>
</div>

<!-- <script src="/calendar/jquery.weekcalendar.js"></script>
 -->

<link rel='stylesheet' href='calendar/fullcalendar.css' />
<script src='calendar/lib/jquery.min.js'></script>
<script src='calendar/lib/moment.min.js'></script>
<script src='calendar/fullcalendar.js'></script>

 <script>
 $(document).ready(function() {

    // page is now ready, initialize the calendar...
	$('#calendar').fullCalendar({
	    events: {{{events}}},
		eventMouseover: function(calEvent, jsEvent) {
		    var tooltip = '<div class="tooltipevent" style="width:100px;height:20px;background:#ccc;position:absolute;z-index:10001;">' + calEvent.details + '</div>';
		    $("body").append(tooltip);
		    $(this).mouseover(function(e) {
		        $(this).css('z-index', 10000);
		        $('.tooltipevent').fadeIn('500');
		        $('.tooltipevent').fadeTo('10', 1.9);
		    }).mousemove(function(e) {
		        $('.tooltipevent').css('top', e.pageY + 10);
		        $('.tooltipevent').css('left', e.pageX + 10);
		    });
		},
		eventRender: function(event, element, view) {
		    console.log(event)
		    console.log(element)
		    console.log(event.id)
		    element.attr('id', event._id);
		    // element.attr('user-id', event._id);
		},
		eventMouseout: function(calEvent, jsEvent) {
		    $(this).css('z-index', 8);
		    $('.tooltipevent').remove();
		},
		eventClick: function(calEvent, jsEvent, view){
			window.location = "/details/" + this.id
		},

    })

});


</script>