<div style="background-color: #D7CEC7; margin: 0px; padding: 80px 300px">
<center><h1>FairSplit is a Horizons Hackathon project.</h2><center><br><br>

<p>Based off tragic real-life experiences with a five-page Google Doc for the Harvard Class of 2018 arranging Uber rides, FairSplit was born. Every time spring break or thanksgiving break or back-to-school or any major break arrives, posts pop up in the Facebook group: Who wants to split an Uber or UberPool? This solves that problem.</p>

<p>The struggle is real:</p>
<img src="/images/process3.png" style="width: 500px"><br><br>
<img src="/images/process4.png" style="width: 500px">
<br><br>
<img src="/images/process2.png" style="width: 500px"><br>
<br><p>^ A snippet of the acclaimed 5-page Google document itself...</p>
</p>
</div>

<div style="background-color: #76323F ; margin: 0px; padding: 80px 300px; color: #D7CEC7">
<center><h2>How FairSplit was Created:</h2><br>
<p>FairSplit was created in a 24-hour period by a crestfallen team of one, potentially a team of half because of sleep deprivation.</p><br>

<p>The calendar aspect of FairSplit is based off code provided by <a href="http://fullcalendar.io/">FullCalendar</a>, a life-saving JQuery plugin that was discovered long after attempting two other painful calendar implementations. Form implementation and the adding of events was done with handlebars.</p>

<p>The messaging aspect of FairSplit was based off similar projects in former Horizons projects, also accomplished through handlebars.</center>
</div>

<div style="background-color: #565656; margin: 0px; padding: 80px 300px; color: #D7CEC7">
<center><h2>Improvements to Consider:</h2><br></center>
<p><ul>
<li>Add capabilities of choosing your college campus.</li>
<li>Allow more details to be added to each departure time, such as exact location (we all know the quad is pretty far from the river, after all...) and have options to filter by these general locations (yard, river, quad)</li>
<li>When clicking "send message," have that username appear as the "to" address, rather than having to retype it. This is critical and shameful that it has not been implemented.</li>
<li>Implement better security features, as well as a verification service through which a college email address is required.</li>
<li>Fix the "Add Event" form so that it's a modal rather than a whole new page.</li>
<li>Fix the "Add Event" date time so that it's automatically parsed into the correct format. This is also shameful.</li>
<li>Clean up the code, particularly the in-line styles that gets messy.</li>
</ul></p>
</div>
